<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Demo>    
            <version>1.0.0</version>
        </Ccc_Demo>
    </modules>
    <frontend>
        <routers>
            <demo>
                <use>standard</use>
                <args>
                    <module>Ccc_Demo</module>
                    <frontName>demo</frontName>
                </args>
            </demo>
        </routers>
        <layout>
            <updates>
                <demo module="Ccc_Demo">
                    <file>Ccc_Demo.xml</file>
                </demo>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <demo>
                <class>Ccc_Demo_Model</class>
                <resourceModel>demo_resource</resourceModel>
            </demo>
            <demo_resource>
                <class>Ccc_Demo_Model_Resource</class>
                <entities>
                    <demo>
                        <table>eav_attribute</table>
                    </demo>
                </entities>
                <deprecatedNode>demo_mysql4</deprecatedNode>
            </demo_resource>
        </models>
        <blocks>
            <demo>
                <class>Ccc_Demo_Block</class>
            </demo>
        </blocks>
        <helpers>
            <demo>
                <class>Ccc_Demo_Helper</class>
            </demo>
        </helpers>
    </global>
    <admin>
        <routers>
            <demo>
                <use>admin</use>
                <args>
                    <module>Ccc_Demo</module>
                    <frontName>demo</frontName>
                </args>
            </demo>
        </routers>
         <layout>
            <updates>
                <demo>
                    <file>demo.xml</file>
                </demo>
            </updates>
        </layout>
    </admin>
</config>
