<?xml version="1.0"?>
<config>
    <modules>
        <Yagnik_Yagnik>
            <version>1.0.2</version>
        </Yagnik_Yagnik>
    </modules>    
    <global>
        <resources>
            <yagnik_setup>
                <setup>
                    <module>Yagnik_Yagnik</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </yagnik_setup>
            <yagnik_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </yagnik_write>
            <yagnik_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </yagnik_read>
        </resources>
        <models>
            <yagnik>
                <class>Yagnik_Yagnik_Model</class>
                <resourceModel>yagnik_resource</resourceModel>
            </yagnik>
            <yagnik_resource>
                <class>Yagnik_Yagnik_Model_Resource</class>
                <deprecatedNode>yagnik_mysql4</deprecatedNode>
                <entities>
                    <yagnik>
                        <table>yagnik</table>
                    </yagnik>
                    <yagnik_entity>
                        <table>yagnik_yagnik_entity</table>
                    </yagnik_entity>
                    <yagnik_entity_datetime>
                        <table>yagnik_yagnik_entity_datetime</table>
                    </yagnik_entity_datetime>
                    <yagnik_entity_decimal>
                        <table>yagnik_yagnik_entity_decimal</table>
                    </yagnik_entity_decimal>
                    <yagnik_entity_int>
                        <table>yagnik_yagnik_entity_int</table>
                    </yagnik_entity_int>
                    <yagnik_entity_text>
                        <table>yagnik_yagnik_entity_text</table>
                    </yagnik_entity_text>
                    <yagnik_entity_varchar>
                        <table>yagnik_yagnik_entity_varchar</table>
                    </yagnik_entity_varchar>
                    <yagnik_entity_char>
                        <table>yagnik_yagnik_entity_char</table>
                    </yagnik_entity_char>
                </entities>
            </yagnik_resource>
        </models>
        <blocks>
            <yagnik>
                <class>Yagnik_Yagnik_Block</class>
            </yagnik>
        </blocks>
        <helpers>
            <yagnik>
                <class>Yagnik_Yagnik_Helper</class>
            </yagnik>
        </helpers>
    </global>
    <admin>
        <routers>
            <yagnik>
                <use>admin</use>
                <args>
                    <module>Yagnik_Yagnik</module>
                    <frontName>yagnik</frontName>
                </args>
            </yagnik>
        </routers>
        <layout>
            <updates>
                <yagnik>
                    <file>yagnik.xml</file>
                </yagnik>
            </updates>
        </layout>
    </admin>
</config>