<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Yagnik_Yagnik>
			<version>0.0.3</version>
		</Yagnik_Yagnik>
	</modules>
	<global>
		<blocks>
			<yagnik>
				<class>Yagnik_Yagnik_Block</class>
			</yagnik>
		</blocks>
		<helpers>
			<yagnik>
				<class>Yagnik_Yagnik_Helper</class>
			</yagnik>
		</helpers>
		<models>
			<yagnik>
				<class>Yagnik_Yagnik_Model</class>
				<resourceModel>yagnik_resource</resourceModel>
			</yagnik>
			<yagnik_resource>
				<class>Yagnik_Yagnik_Model_Resource</class>
				<entities>
	                <yagnik>
	                    <table>yagnik</table>
	                </yagnik>
	                <yagnik_datetime>
	                	<table>yagnik_datetime</table>
		            </yagnik_datetime>
		            <yagnik_decimal>
		                <table>yagnik_decimal</table>
		            </yagnik_decimal>
		            <yagnik_int>
		                <table>yagnik_int</table>
		            </yagnik_int>
		            <yagnik_text>
		                <table>yagnik_text</table>
		            </yagnik_text>
		            <yagnik_varchar>
		                <table>yagnik_varchar</table>
		            </yagnik_varchar>
		            <yagnik_char>
		                <table>yagnik_char</table>
		            </yagnik_char>
		            <eav_attribute>
                        <table>yagnik_eav_attribute</table>
                    </eav_attribute>
		        </entities>
			</yagnik_resource>
		</models>
		<resources>
			<yagnik_setup>
				<setup>
					<module>Yagnik_Yagnik</module>
					<class>Yagnik_Yagnik_Model_Resource_Setup</class>
				</setup>
			</yagnik_setup>
		</resources>
	</global>
	<adminhtml>
		<menu>
			<yagnik>
				<title>yagnik</title>
				<sort_order>120</sort_order>
				<children>
					<yagnik>
						<title>Manage yagnik</title>
						<sort_order>100</sort_order>
						<action>yagnik/Adminhtml_Yagnik</action>
					</yagnik>
					<yagnik_attribute>
						<title>Manage Attribute</title>
						<sort_order>100</sort_order>
						<action>yagnik/Adminhtml_Yagnik_Attribute</action>
					</yagnik_attribute>
					<yagnik_set>
						<title>Manage Attribute set</title>
						<sort_order>100</sort_order>
						<action>yagnik/Adminhtml_Yagnik_Set</action>
					</yagnik_set>
				</children>
			</yagnik>
		</menu>
		<layout>
			<updates>
				<yagnik>
					<file>yagnik.xml</file>
				</yagnik>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<yagnik>
				<use>admin</use>
				<args>
					<module>Yagnik_Yagnik</module>
					<frontName>yagnik</frontName>
				</args>
			</yagnik>
		</routers>
	</admin>
</config>