<config>
    <modules>
        <Ccc_Practice>    
            <version>1.0.0</version>
        </Ccc_Practice>
    </modules>
    <frontend>
        <routers>
            <Practice>
                <use>standard</use>
                <args>
                    <module>Ccc_Practice</module>
                    <frontName>practice</frontName>
                </args>
            </Practice>
        </routers>
   </frontend>
    <global>
        <models>
            <practice>
                <class>Ccc_Practice_Model</class>
                <resourceModel>practice_resource</resourceModel>
            </practice>
            <practice_resource>
                <class>Ccc_Practice_Model_Resource</class>
                <deprecatedNode>practice_mysql4</deprecatedNode>
                <entities>
                    <product>
                        <table>catalog_product_entity</table>
                    </product>
                </entities>
            </practice_resource>
        </models>
        <blocks>
            <practice>
                <class>Ccc_Practice_Block</class>
            </practice>
            <!-- <adminhtml>
                <rewrite>
                    <catalog_product_grid>Ccc_Practice_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml> -->
        </blocks>
        <helpers>
           <practice>
                  <class>Ccc_Practice_Helper</class>
            </practice>
        </helpers>
    </global>
    <admin>
        <routers>
            <Practice>
                <use>admin</use>
                <args>
                    <module>Ccc_Practice</module>
                    <frontName>practice</frontName>
                </args>
            </Practice>
            <!-- <adminhtml>
                <args>
                    <modules>
                        <ccc_practice before="Mage_Adminhtml_Catalog">Ccc_Practice_Adminhtml</ccc_practice>
                    </modules>
                </args>
            </adminhtml> -->
        </routers>
    </admin>
</config>