<?xml version="1.0"?>
<config>
    <modules>
        <Yagnik_Collection>
            <version>0.1.0</version>
        </Yagnik_Collection>
    </modules>    
    <global>
        <resources>
            <collection_setup>
                <setup>
                    <module>Yagnik_Collection</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </collection_setup>
            <collection_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </collection_write>
            <collection_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </collection_read>
        </resources>
        <models>
            <collection>
                <class>Yagnik_Collection_Model</class>
                <resourceModel>collection_resource</resourceModel>
            </collection>
            <collection_resource>
                <class>Yagnik_Collection_Model_Resource</class>
                <deprecatedNode>collection_mysql4</deprecatedNode>
                <entities>
                    <collection>
                        <table>collection</table>
                    </collection>
                </entities>
            </collection_resource>
        </models>
    </global>
    <admin>
        <routers>
            <collection>
                <use>admin</use>
                <args>
                    <module>Yagnik_Collection</module>
                    <frontName>collection</frontName>
                </args>
            </collection>
        </routers>
    </admin>
</config>