<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ccc_Meet>
			<version>0.0.3</version>
		</Ccc_Meet>
	</modules>
	<global>
		<blocks>
			<meet>
				<class>Ccc_Meet_Block</class>
			</meet>
		</blocks>
		<helpers>
			<meet>
				<class>Ccc_Meet_Helper</class>
			</meet>
		</helpers>
		<models>
			<meet>
				<class>Ccc_Meet_Model</class>
				<resourceModel>meet_resource</resourceModel>
			</meet>
			<meet_resource>
				<class>Ccc_Meet_Model_Resource</class>
				<entities>
	                <meet>
	                    <table>meet</table>
	                </meet>
	                <meet_datetime>
	                	<table>meet_datetime</table>
		            </meet_datetime>
		            <meet_decimal>
		                <table>meet_decimal</table>
		            </meet_decimal>
		            <meet_int>
		                <table>meet_int</table>
		            </meet_int>
		            <meet_text>
		                <table>meet_text</table>
		            </meet_text>
		            <meet_varchar>
		                <table>meet_varchar</table>
		            </meet_varchar>
		            <meet_char>
		                <table>meet_char</table>
		            </meet_char>
		            <eav_attribute>
                        <table>meet_eav_attribute</table>
                    </eav_attribute>
		        </entities>
			</meet_resource>
		</models>
		<resources>
			<meet_setup>
				<setup>
					<module>Ccc_Meet</module>
					<class>Ccc_Meet_Model_Resource_Setup</class>
				</setup>
			</meet_setup>
		</resources>
	</global>
	<adminhtml>
		<menu>
			<meet>
				<title>Meet</title>
				<sort_order>120</sort_order>
				<children>
					<meet>
						<title>Manage Meet</title>
						<sort_order>100</sort_order>
						<action>meet/Adminhtml_Meet</action>
					</meet>
					<meet_attribute>
						<title>Manage Attribute</title>
						<sort_order>100</sort_order>
						<action>meet/Adminhtml_Meet_Attribute</action>
					</meet_attribute>
					<meet_set>
						<title>Manage Attribute set</title>
						<sort_order>100</sort_order>
						<action>meet/Adminhtml_Meet_Set</action>
					</meet_set>
				</children>
			</meet>
		</menu>
		<layout>
			<updates>
				<meet>
					<file>meet.xml</file>
				</meet>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<meet>
				<use>admin</use>
				<args>
					<module>Ccc_Meet</module>
					<frontName>meet</frontName>
				</args>
			</meet>
		</routers>
	</admin>
</config>