<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Eav>    
            <version>1.0.0</version>
        </Ccc_Eav>
    </modules>
    <frontend>
        <routers>
          <eav>
                <use>standard</use>
                <args>
                    <module>Ccc_Eav</module>
                    <frontName>eav</frontName>
                </args>
            </eav>
        </routers>
        <layout>
            <updates>
                <eav module="Ccc_Eav">
                    <file>Ccc_Eav.xml</file>
                </eav>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <eav>
                <class>Ccc_Eav_Model</class>
                <resourceModel>eav_resource</resourceModel>
            </eav>
            <eav_resource>
                <class>Ccc_Eav_Model_Resource</class>
                <deprecatedNode>eav_mysql4</deprecatedNode>
                <entities>
                    <eav>
                        <table>eav</table>
                    </eav>
                    <eav_address>
                        <table>eav_address</table>
                    </eav_address>
                </entities>
            </eav_resource>
        </models>
        <blocks>
            <eav>
                <class>Ccc_eav_Block</class>
            </eav>
        </blocks>
        <helpers>
           <eav>
                  <class>Ccc_eav_Helper</class>
            </eav>
        </helpers>
    </global>
    <admin>
        <routers>
            <eav>
                <use>admin</use>
                <args>
                    <module>Ccc_Eav</module>
                    <frontName>eav</frontName>
                </args>
            </eav>
        </routers>
         <layout>
            <updates>
                <eav>
                    <file>eav.xml</file>
                </eav>
            </updates>
        </layout>
    </admin>
</config>
